<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>PDF</title>
    <style>
        h1{
            color: blue;
            background: yellow;
        }
        li{
            list-style: none;
        }
    </style>
</head>
<body>
    <h1>My Plans</h1>

<!--    <h2>{{message}}</h2>-->

    <h2>List of Plans:</h2>

    <ul>
        {{#each plans}}
            <li>
                <h3>{{this.name}}</h3>
                <p>{{this.yearly_savings}}</p>
            </li>
        {{/each}}
    </ul>
</body>
</html>
